<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    .field-error{
      border-color: #dc3545;
      color: #dc3545;
    }
    .btn__close {display:inline-block;}
    .btn__close:after {display: inline-block; content: "\00d7"; font-size:17px; margin-left:5px; margin-top: 3px; margin-right: 2px;}
  </style>
  <script>
    function getCheckboxValue(event)  {
      let result = '';
      result = event.target.value;

      $.ajax({
        type :"POST" ,
        url : "http://localhost:8080/api/v1/extension",
        data_type : "text",
        data : {
          "result" : result
        }
      })
    }

    function getCustomExtensionValue(event) {
      let result = '';
      result = event.target.name;

      $.ajax({
        type :"GET" ,
        url : "http://localhost:8080/api/v1/extension/customExtension",
        data_type : "text",
        data : {
          "result" : result
        },
        success : function (data) {
          location.reload();
        }
      })
    }
  </script>
</head>
<body>
<hr style="border: solid 1px">
<h1>&#9678;파일 확장자 차단</h1>
<hr style="border: solid 2px">
<p>파일확장자에 따라 특정 형식의 파일을 첨부하거나 전송하지 못하도록 제한</p>
<div>
  <p>
    고정 확장자
    <span style="padding-left: 10px" th:each="extension : ${extensionList}">
      <input type="checkbox" th:name="${extension.getName()}" th:value="${extension.getName()}" th:checked="${extension.isChecked()}" onclick="getCheckboxValue(event)">
      <label th:text="${extension.name}"></label>
    </span>
  </p>
</div>
<div>
  <form th:action="@{/api/v1/extension/customExtension}" method="post" th:object="${customExtensionDTO}">
    커스텀 확장자
    <span style="padding-left: 10px">
      <input type="text" th:field="*{name}" maxlength="20" style="width: 250px; border-radius: 5px; border-color: #C5C5C5" placeholder="확장자 입력">
      <button type="submit" style="color: white; background-color: #AAAAAA ; border-radius: 5px; border-color: #C5C5C5" >+추가</button>
    </span>
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" style="padding-left: 105px; margin-top: -1px;" th:if="${#fields.hasGlobalErrors()}" th:each="err:${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>
  </form>
</div>
<div style="margin-left: 100px; margin-top: 5px; border: 1px solid #C5C5C5; border-radius: 5px; width: 400px; height: 200px" th:object="${customExtensionList}">
  <span style="font-size: 12px; padding: 3px; margin-left: 2px;" th:text="${customExtensionList.size()}"></span><span style="font-size: 12px;">/200</span>
  <br>
  <span th:each="customExtension : ${customExtensionList}">
    <div style="height:20px;font-size: 12px; margin-left: 8px; display:inline-block; padding-left:10px; align-items: center; text-align: center; border: 1px solid #C5C5C5; border-radius: 5px;">
      <p style="float: left; font-size: 12px; position: relative; bottom:9px;" th:text="${customExtension.getName()}"></p>
      <button th:name="${customExtension.getName()}" type="button" style=" float: left; font-size: 25px; border: none; background-color: transparent; padding-left: 10px; position: relative; bottom: 5px; display: inline-block;" onclick="getCustomExtensionValue(event)">&#215;</button>
    </div>
  </span>
</div>
</body>
</html>